* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 65px 1fr;
}

.container-child {
  border: 1px solid #dee2e6;
}

/* Style Headder */

.header {
  display: flex;
  flex-direction: column;
}

/* Style nav */

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.right-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.left-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
